<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TrainingTestWithAnnotationJavaConfig/src/com/met/training/test/TrainingTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.met.training.test.TrainingTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TrainingTestWithAnnotationJavaConfig"/>
</launchConfiguration>
